
*
    margin: 0
    padding: 0
    box-sizing: border-box

    /* Variables*/

$input-color: #2E2E2F
$btn-color: #4B4B4B
$ph-color:#A5A5A5
$bg-color:#121212


body
    font-family: 'Inter', sans-serif
    color: #FFF

img 
    max-width: 100%


@mixin flex($direction, $align, $content)
    display: flex
    flex-direction:$direction
    align-items: $align
    justify-content: $content

.header 
    @include flex(row,center,center)
    background-image: linear-gradient(to bottom, rgba(black, 0.5), rgba(0, 9, 44, 0.6)), url("images/image-cover.png")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 300px
    gap: 8rem
    padding-left: 100px
    
    h1
        font-size: 3rem
        font-weight: 700
    
    a
        cursor: pointer
        text-decoration: none
        color: #FFF !important

.main-section 
    @include flex(column, center, center)
    background-color: $bg-color
    min-height: 500px   
    translate: 0 -40px
    h2 
        color: $input-color

.section-content 
    @include flex(column, center, center)
    gap: 8px



@media screen and (max-width:1000px)
    .header
        gap: 3rem
        height: 30vh
        width: 100%
        h1
            font-size: 4.5rem
        h3 
            font-size: 2rem
    
.main-section 
    min-height: 70vh   
    translate: 0 -40px
    h2 
        color: $input-color